{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/mainStyle.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">MyBlog</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">Обо мне</a></li>
                {% if request.user.is_authenticated %}
                <li>{{user.username}}</li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}
    <div class="maintext">
    {% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

{% if page_obj.has_next %}
<li class="page-num">
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
</div>

    <footer>
      <p>Copyright &copy; My Blog 2023
    </footer>
</body>
</html>