{% extends "blog/index.html" %}

{% block head %}
  {% load static %}
{% endblock %}

{% block content %}
<div class="maintext">
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label}}">{{f.label}}: </label>{{f}}</p>
        <div class="form-error">{{f.errors}}</div>
        {% endfor %}
        <button style="margin: 0px; margin-bottom: 20px; margin-left: 20px; margin-top: 50px;" class="searchButton" type="submit">Регистрация</button>

    </form>
</div>
{% endblock %}